@using u15010572_HW03.Models
@model List<FileModel>
@{
    ViewBag.Title = "Images";
}

<h2>Images</h2>
<div class="container-fluid content-row">

        @foreach (FileModel file in Model)
        {
            <div class="col-md-4" style="margin-bottom:5rem;">
                <div class="card" >
                    <img src="../../Media/Images/@file.FileName"
                         class="card-img-top" style="width: 100%; height: 15vw; object-fit: cover;"
                         alt=" " />
                    <div class="card-body">
                        <h5 class="card-title">@file.FileName</h5>
                        <button>
                            @Html.ActionLink("Download", "DownloadFile",
                             new { fileName = file.FileName })
                        </button>
                        <button>
                            @Html.ActionLink("Delete", "DeleteFile",
                            new { fileName = file.FileName },
                            new { onclick = "return confirm('Are you sure you wish to delete this?');" })
                        </button>
                    </div>
                </div>
            </div>

        }


</div>