@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <h1>About Me</h1>
    <h3>Get to know Bryony Asrie, the creator of this program.</h3>
</div>

    <div class="row">
        <div class="col-md-4">
            <p>
                <h4>Bio</h4>
                ​Bryony is a 26 year old student who is creative and analytical.
                She has studied a wide range of subjects at a tertiary level that
                have given her knowledge in different fields of study.
                She is currently pursuing her interest in information, data and programming through
                a BIT degree but she is also passionate about digital art,
                design and media. She has experience as a graphic designer and a freelance illustrator. 
       
            </p>
        </div>
        <div class="col-md-4">
            <h4>Bryony Asrie</h4>
            <img src="../../Media/me.jpg" class="img-responsive"/>
        </div>
    </div>

